@tailwind base;
@tailwind components;
@tailwind utilities;

.visibility-visible {
  visibility: visible;
}

.visibility-hidden {
  visibility: hidden;
  transition: visibility 0s 500ms, opacity 500ms, max-height 500ms;
}
